.header {
    position: fixed;
    width: 100%;
    background-color: rgb(56, 40, 40, 0.5);
    z-index: 111;
}

.clear {
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-family: montserrat, sans-serif;
}

.header .logo {
    width: 40%;
    float: left;
}

.header .logo img {
    width: 20%;
    margin-top: 15px;
}

.header .nav {
    width: 60%;
    float: left;
    text-align: right;
}

.header .nav {
    list-style: none;
}

.header .nav>li {
    display: inline-block;
}

.header .nav>li>a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 30px 10px;
    font-size: 13px;
}

.header .nav>li>a.active:after,
.header .nav>li>a:after {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--maincolor);
    margin-top: 3px;
    transition: width 0.5s;
}

.header .nav>li>a::after {
    width: 0;
}

.header .nav>li>a.active:after {
    width: 100%;
}

.header .nav>li>a:hover:after {
    width: 100%;
}


.dropdown {
    position: relative;
}

.dropdown-menu {
    list-style: none;
    position: absolute;
    width: 150px;
    background-color: var(--maincolor);
    text-align: center;
    top: 70%;
    left: -50%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.dropdown-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}